.digitalDentistryContainer{
	background-color: white;
	width:100%;
	max-width: 100%!important;
}

.digiTextSize {
    font-size:1.3em;
}

@media (max-width: 600px){
	.digitalImageFormat {
        max-height: 5rem;
    }
}
@media (min-width: 601px){
	.digitalImageFormat {
        max-height: 15rem;
    }
}