.ourClinicContainer{
	background-color: #FBEEC1;
	width:100%;
	max-width: 100%!important;
}

@media (max-width: 1350px){
	.leftImage{
		max-height: 13rem;
		padding-bottom: 2rem;
	}	
	.rightImage{
		max-height: 13rem;
		padding-bottom: 2rem;
	}
}
@media (min-width: 1351px){
	.rightImage, .leftImage{
		max-height: 15rem;
	}
}

.actionButtonText{
  margin-top: 0.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
}